# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
__pycache__/
.old/
.venv/
.vscode/
.sitemaps/
.data/
examples/
main.py
main2.py
main3.py
paper_figures.py
wsp_matrix_combine.py
umap_scaling.py
